<?xml version="1.0" encoding="utf-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>

	<servlet>
		<servlet-name>TweetSearch</servlet-name>
		<servlet-class>es.portizsan.twitrector.tasks.TweetSearchTask</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>TweetSearch</servlet-name>
		<url-pattern>/tasks/tweetSearch</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>TweetReply</servlet-name>
		<servlet-class>es.portizsan.twitrector.tasks.TweetReplyTask</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>TweetReply</servlet-name>
		<url-pattern>/tasks/tweetReply</url-pattern>
	</servlet-mapping>


	<!-- Rest Servlet -->
	<servlet>
		<servlet-name>jersey</servlet-name>
		<servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
		<init-param>
			<param-name>com.sun.jersey.config.property.packages</param-name>
			<param-value>es.portizsan.twitrector.ws
			</param-value>
		</init-param>
		<init-param>
			<param-name>com.sun.jersey.config.feature.DisableWADL</param-name>
			<param-value>true</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>jersey</servlet-name>
		<url-pattern>/s/*</url-pattern>
	</servlet-mapping>

	<!-- Objectify Filter -->
	<filter>
		<filter-name>ObjectifyFilter</filter-name>
		<filter-class>com.googlecode.objectify.ObjectifyFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>ObjectifyFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<listener>
		<listener-class>es.portizsan.twitrector.loader.ObjectifyLoader</listener-class>
	</listener>


	<security-constraint>
		<web-resource-collection>
			<web-resource-name>admin</web-resource-name>
			<url-pattern>/tasks/*</url-pattern>
			<url-pattern>/s/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>admin</role-name>
		</auth-constraint>
	</security-constraint>
</web-app>
